/* Allow table cells to wrap in ReadTheDocs theme */
.docutils align-default table td,
.docutils align-default th {
  white-space: normal !important;
  word-break: break-word;
}
 
.my-card-group {
  background-color: #6bb0ec !important; /* Light blue background */
  padding: 10px !important;
  border-radius: 8px !important;
}
